<div class="sidebar" ng-hide="hideLayout">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.login"><i class="icon-speedometer"></i> Login </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.awards"><i class="icon-speedometer"></i> Awards </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.nominations"><i class="icon-speedometer"></i> Nominations </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.nominee"><i class="icon-speedometer"></i> Nominee </a>
      </li>
    </ul>
  </nav>
</div>